@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.home-section{
    display:grid;
    font-family: 'Montserrat', sans-serif;
    grid-gap:1%;
    grid-template-columns:15% 20% 20% 40%;
  .filter{
    margin-top:0.5%;
    background-color: #212529;
    padding:10px;
    display: flex;
    flex-direction: column;
.btn-dark{
  margin-top:1% !important;
}
  }  
  .filterdata{
    margin-left:2%;
  }
  .finalolp{
    overflow-y: scroll;
    border:1px solid black;
    height:90vh;
    position: relative;
    footer{
      width:100%;
      padding:10px;
      position: absolute;
      bottom:0;
      section {padding:3px;div:nth-child(1),div:nth-child(2){
        display: flex;
        justify-content: space-around;
      }
      div:nth-child(2){
        border-top:1px solid grey;
        span{
          margin-top:10px;
          input[type=radio]{
            margin-right:5px;
          }
        }
      }
    }
      
    }
  }
}
table th
{
padding:15px;
}
