
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

nav{
    position: relative;
    font-family: 'Montserrat', sans-serif;

}
.form-section{
    width:100%;
    position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   align-content: center;
 
 form{
    background-color:white;
    padding:0 2rem;
    width:25%;
    box-shadow: 0 0 2px black;
  div{
    margin-top:10px;
    label{
        margin-bottom:8px;
    }
   
  } 
  button{
    margin-top:20px;
    margin-bottom: 10px;
}
}
}
.btn{
  background-color: red;
  border:none;
  
}